@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  border: 5px solid #0e4f85;
  border-left-color: #15a6e4;
  border-radius: 50%;
  width: 40px !important;
  height: 40px !important;
  animation: spin 1s linear infinite;
}
